[submodule "src/FMS"]
	path = src/FMS1
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "src/FMS2"]
	path = src/FMS2
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:NOAA-GFDL/MOM6.git
[submodule "src/SIS2"]
	path = src/SIS2
	url = git@github.com:NOAA-GFDL/SIS2.git
[submodule "src/atmos_null"]
	path = src/atmos_null
	url = git@github.com:NOAA-GFDL/atmos_null.git
[submodule "src/FMScoupler"]
	path = src/coupler
	url = git@github.com:NOAA-GFDL/FMScoupler.git
